# User-specific files

*.suo

*.user
*.sln.docstates
*.csproj.DotSettings


.vs/

# Build results

debug/
release/
bin/
obj/
*.Bin/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn


*.vspscc

*.vssscc
*.cache
*.log
*.publishproj


*.dll

*.pdb

# NuGet
!packages.config
!repositories.config
/packages/*